<div [formGroup]="parentForm">
  <mat-card class="beneficiaries__card">
    <mat-toolbar>
      <span>Beneficiaries
        <sup matTooltip="Beneficiary is an account which receives a part of the post's reward" matTooltipPosition="right">
          <mat-icon color="primary">info</mat-icon>
        </sup>
      </span>
      <span class="spacer"></span>
      <button mat-mini-fab color="accent" [disabled]="totalBeneficiaries >= 8 || isDisabled" (click)="addBeneficiary()" class="beneficiaries__add-button">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>

    <div class="beneficiaries__container">
      <div formArrayName="beneficiaries" *ngFor="let beneficiary of beneficiariesFormArray.controls; let i = index;">
        <div [formGroupName]="i" fxLayout fxLayoutGap="10" fxLayoutAlign="space-between center" class="beneficiary">
          <div fxFlex="30" class="beneficiary__item beneficiary__item--left">
            <mat-form-field class="beneficiary__field">
              <input matInput [errorStateMatcher]="alwaysMatcher" formControlName="account" type="text" placeholder="Account" class="beneficiary__input">
              <mat-error *ngIf="getBeneficiaryAccountControl(i)?.hasError('required')" class="beneficiary__error beneficiary__error--required">{{
                errorMessages.required }}</mat-error>
              <mat-error *ngIf="getBeneficiaryAccountControl(i)?.hasError('pattern')" class="beneficiary__error beneficiary__error--pattern">{{
                errorMessages.pattern }}</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="40" class="beneficiary__item beneficiary__item--center">
            <mat-slider formControlName="weight" mix="0" max="100" step="1" thumbLabel [displayWith]="formatSliderThumbLabel" class="beneficiary__slider"></mat-slider>
          </div>
          <div fxFlex="10" class="beneficiary__item beneficiary__item--right">
            <button mat-icon-button *ngIf="!isDisabled" (click)="removeBeneficiary(i)" class="beneficiary__remove-button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="hasBeneficiariesFormArrayErrors" class="beneficiaries__errors">
        <mat-error *ngIf="beneficiariesFormArray.hasError('tooHighWeight')" class="beneficiaries__error beneficiaries__error--too-high-weight">{{errorMessages.tooHighWeight}}</mat-error>
        <mat-error *ngIf="beneficiariesFormArray.hasError('tooManyBeneficiaries')" class="beneficiaries__error beneficiaries__error--too-many-beneficiaries">{{errorMessages.tooManyBeneficiaries}}</mat-error>
        <mat-error *ngIf="beneficiariesFormArray.hasError('notUniqueNames')" class="beneficiaries__error beneficiaries__error--not-unique-names">{{errorMessages.notUniqueNames}}</mat-error>
      </div>

      <mat-divider *ngIf="hasBeneficiariesFormArrayErrors"></mat-divider>

      <div fxLayout fxLayoutAlign="space-between center" class="beneficiaries__summary">
        <div fxFlex class="mat-body-2 beneficiaries__summary-total-weight">Total: {{ totalBeneficiariesWeight }}%</div>
        <div fxFlex class="mat-body-2 beneficiaries__summary-total-beneficiaries">{{totalBeneficiaries}}/8</div>
      </div>
    </div>
  </mat-card>
</div>
