<div [formGroup]="parentForm">
  <mat-form-field class="body__field">
    <mat-card class="body__toolbar">
      <button mat-icon-button [matMenuTriggerFor]="headingsMenu" type="button">
        <mat-icon>text_fields</mat-icon>
      </button>
      <mat-menu #headingsMenu="matMenu">
        <button mat-menu-item type="button" (click)="formatH1()">
          <span class="mat-headline">Heading 1</span>
        </button>
        <button mat-menu-item type="button" (click)="formatH2()">
          <span class="mat-title">Heading 2</span>
        </button>
        <button mat-menu-item type="button" (click)="formatH3()">
          <span class="mat-subheading-2">Heading 3</span>
        </button>
        <button mat-menu-item type="button" (click)="formatH4()">
          <span class="mat-subheading-1">Heading 4</span>
        </button>
      </mat-menu>

      <button mat-icon-button (click)="formatBold()" type="button">
        <mat-icon>format_bold</mat-icon>
      </button>

      <button mat-icon-button (click)="formatItalic()" type="button">
        <mat-icon>format_italic</mat-icon>
      </button>

      <button mat-icon-button (click)="formatStrikeThrough()" type="button">
        <mat-icon>strikethrough_s</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="formatQuote()">
        <mat-icon>format_quote</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="insertLink()">
        <mat-icon>insert_link</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="imageMenu" type="button">
        <mat-icon>insert_photo</mat-icon>
      </button>
      <mat-menu #imageMenu="matMenu" xPosition="before">
        <button mat-menu-item type="button" (click)="insertImage()">
          <mat-icon>insert_link</mat-icon>
          <span>Link to image</span>
        </button>
        <button mat-menu-item type="button" (click)="fileInput.click()">
          <mat-icon>cloud_upload</mat-icon>
          <span>Upload image</span>
        </button>
        <input #fileInput type="file" style="display: none;" (change)="uploadAndInsertImage($event)">
      </mat-menu>

      <button mat-icon-button *ngIf="!isFullscreen" type="button" (click)="goFullscreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>

      <button mat-icon-button *ngIf="isFullscreen" type="button" (click)="exitFullscreen()">
        <mat-icon>fullscreen_exit</mat-icon>
      </button>

      <mat-spinner *ngIf="isUploading" [diameter]="30"></mat-spinner>
    </mat-card>

    <textarea #bodyTextarea matInput formControlName="body" class="body__textarea" [class.body__textarea--fullscreen]="isFullscreen"></textarea>
    <mat-error *ngIf="bodyControl.hasError('required')" class="body__error body__error--required">{{ errorMessages.required }}</mat-error>
  </mat-form-field>
</div>
