<div [formGroup]="parentForm">
  <mat-form-field class="tags__field">
    <mat-chip-list #tagsList class="tags">
      <mat-chip *ngFor="let tag of tagsControl.value; let i = index;" [color]="isValidTag(tag) ? 'primary' : 'warn'"
        selected [selectable]="false" [removable]="isTagRemovable(i)" (removed)="removeTag(tag)" class="tag">
        {{tag}}
        <mat-icon *ngIf="isTagRemovable(i)" matChipRemove class="tag__remove">cancel</mat-icon>
      </mat-chip>
      <input matInput placeholder="Tags" [matChipInputFor]="tagsList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" class="tags__input">
    </mat-chip-list>
  </mat-form-field>
  <mat-error *ngIf="!!currentErrorMessage" class="tags__error">{{currentErrorMessage}}</mat-error>
</div>
