.post-options {
  padding: 5px;
  min-height: 300px;
}

.post-options__metadata-field {
  width: 100%;
  height: 100%;
}

.post-options__slider {
  width: 70%;
}

.post-options__metadata-textarea {
  min-height: 150px;
}

.post-options__beneficiaries {
  text-align: center;
}

.post-options__section {
  height: 300px;
}
