.editor__step-buttons {
  margin-top: 30px;
}

.editor__card {
  margin-bottom: 20px;
}

.editor__multi-fields-container {
  margin-bottom: 20px;
}

.advanced-options {
  padding: 20px 0;
}

.advanced-options__element {
  padding: 10px 0;
}
