<div [formGroup]="parent" class="post-contents">
  <mat-form-field class="post-contents__field">
    <input matInput placeholder="Title" [errorStateMatcher]="matcher" formControlName="title">
    <mat-error *ngIf="parent.get('title').invalid">Title cannot be empty!</mat-error>
  </mat-form-field>

  <mat-form-field class="post-contents__field">
    <textarea matInput placeholder="Body" [errorStateMatcher]="matcher" formControlName="body" class="post-contents__textarea"></textarea>
    <mat-error *ngIf="parent.get('body').invalid">Body cannot be empty!</mat-error>
  </mat-form-field>

  <mat-form-field class="post-contents__field">
    <input matInput placeholder="Tags (separated by a space)" [errorStateMatcher]="matcher" formControlName="tags">
    <mat-error *ngIf="parent.get('tags').invalid">Please type tags correctly!</mat-error>
  </mat-form-field>
</div>
