<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center" class="toolbar__row">
    <span fxFlex>
      <a routerLink="/">
        <img src="../../../../assets/images/logo.svg" alt="Steeditor" class="toolbar__logo">
      </a>
    </span>

    <span fxFlex class="toolbar__button">
      <app-log-in-out [isAuthenticated]="!!(currentUser$ | async)" [isLoggingOut]="isLoggingOut$ | async" (login)="login()" (logout)="logout()"></app-log-in-out>
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center" class="toolbar__row">
    <button mat-button routerLink="drafts">Drafts</button>
    <button mat-button routerLink="templates">Templates</button>
  </mat-toolbar-row>
</mat-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>
