<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row fxLayout="row" class="toolbar__row">
    <span fxFlex>Steeditor</span>

    <span fxFlex class="toolbar__button">
      <app-log-in-out [isAuthenticated]="isAuthenticated$ | async" (login)="login()" (logout)="logout()"></app-log-in-out>
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center" class="toolbar__row">
    <button mat-button routerLink="drafts">Drafts</button>
    <button mat-button routerLink="drafts/editor">Editor</button>
  </mat-toolbar-row>
</mat-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>
