<mat-vertical-stepper #stepper="matVerticalStepper" class="editor">

  <mat-step [stepControl]="contentsForm">
    <form [formGroup]="contentsForm">
      <ng-template matStepLabel>Add the post content</ng-template>
      <app-post-contents [parent]="contentsForm"></app-post-contents>
      <div class="editor__step-buttons">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thumbnailForm">
    <form [formGroup]="thumbnailForm">
      <ng-template matStepLabel>Set up a thumbnail</ng-template>
      <app-post-thumbnail [parent]="thumbnailForm"></app-post-thumbnail>
      <div class="editor__step-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="advancedOptionsForm">
    <form [formGroup]="advancedOptionsForm">
      <ng-template matStepLabel>Fill out advanced options</ng-template>
      <app-post-options [parent]="advancedOptionsForm" (addBeneficiary)="addBeneficiary($event)" (removeBeneficiary)="removeBeneficiary($event)"></app-post-options>
      <div class="editor__step-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Send</ng-template>
    <p *ngIf="authState.authenticated">You are done now. Make sure the data is correct and broadcast the post!</p>
    <p *ngIf="!authState.authenticated">Before you broadcast a post, log in!</p>
    <div class="editor__step-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="contentsForm.invalid || thumbnailForm.invalid || advancedOptionsForm.invalid || !authState.authenticated">Submit</button>
    </div>
  </mat-step>

</mat-vertical-stepper>
