.templates__item {
  margin-bottom: 30px;
}

.templates-info--mobile {
  margin-bottom: 30px;
  width: 100%;
}

.templates-info-card {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.templates-info-card--mobile {
  width: 80%;
}
