.user-section {
  margin-bottom: 30px;
}

.app-section {
  margin-bottom: 30px;
}

.user-details-section {
  margin-bottom: 30px;
}

.card-mobile {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
